@import url("./global.css");

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 130px 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 53px;
  font-weight: bold;

  span {
    border-bottom: 3px solid var(--default-blue);
  }
}

h2 {
  margin-bottom: 70px;

  font-size: 48px;
  font-weight: bold;

  span {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--default-blue);
  }
}

header {
  padding: 30px;

  .inner-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.section1-container {
  background-color: var(--light-blue);
  height: 623px;
  margin-top: 0;

  .wrapper {
    .main-wrapper {
      display: flex;

      .left-title {
        display: flex;
        flex-direction: column;
        padding-top: 161px;
      }

      .img-wrapper {
        img {
          display: flex;
          padding-top: 50px;
        }
      }

      button {
        margin-top: 40px;
      }
    }
  }
}

.section2-container {
  .wrapper {

    h3 {
      display: flex;
      width: 80%;
      margin: 0 auto;

      font-size: 15pt;
      font-weight: normal;
      text-align: center;
      line-height: 1.8;
    }

    .brand-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        margin-top: 80px;
        margin-right: 50px;
        width: 460px;
      } 

        .biz-info {
          padding-top: 120px;
          padding-right: 12px;

          p {
            font-size: 14pt;
            font-weight: normal;
            color: rgb(77, 76, 76);
            line-height: 1.8;
            margin-bottom: 20px;
            letter-spacing: 0.1px;
          }
        }

    }
  }
}

.section3-container {
  .wrapper {
    .link-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 270px);
      grid-template-rows: repeat(2, 320px);
      row-gap: 50px;
      column-gap: 30px;
      justify-content: center;

      .link-container-1, 
      .link-container-2, 
      .link-container-3, 
      .link-container-4,
      .link-container-5, 
      .link-container-6, 
      .link-container-7, 
      .link-container-8 {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

      .link-container-1 { background-image: url("../assets/Logo-design.png"); }
      .link-container-2 { background-image: url("../assets/Development.png"); }
      .link-container-3 { background-image: url("../assets/Uiux.png"); }
      .link-container-4 { background-image: url("../assets/Digital.png"); }
      .link-container-5 { background-image: url("../assets/Content.png"); }
      .link-container-6 { background-image: url("../assets/Email.png"); }
      .link-container-7 { background-image: url("../assets/Motion.png"); }
      .link-container-8 { background-image: url("../assets/Print.png"); }

      .link-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: white;
        padding-left: 30px;
        padding-top: 215px;

        img {
          margin-right: 12px;
        }

        span {
          display: flex;
          align-items: center;
          font-weight: bold;
          font-size: 15pt;
        }

        p {
          font-size: 12pt;
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 20px;
        }
      }
    }

    button {
      margin: 40px auto;

    }
  }
}

.section4-container {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .right-slider-btn {
        rotate: 180deg;
      }

      .slide-content {
        display: flex;

        background-color: #f4f6fe;
        padding: 58px 40px;
        margin: 0 40px;
        border-radius: 15px;

        font-size: 20px;
        line-height: 170%;
        color: #4f5863;

        .story-img {
          margin-right: 63px;
        }

        .quotes {
          margin-bottom: 20px;
        }
      }
    }

    .dots-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;

      margin-top: 30px;

      .dot {
        background-color: #edeff9;
        width: 8px;
        height: 8px;
        border-radius: 50%;

        &#dot {
          background-color: #1a2630;
        }
      }
    }
  }
}

.section5-container {
  margin-bottom: 186px;

  .section-wrapper {
    width: 100%;
    height: 568px;
    background-color: var(--light-blue);
    padding: 60px 0;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;

        margin-bottom: 60px;

        li {
          display: flex;

          font-size: 24px;

          img {
            width: 40px;
            height: 40px;
            margin-right: 16px;
          }

          p {
            margin-top: 8px;
            font-size: 18px;
            color: #4f5863;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;

        width: 570px;
        height: 568px;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
        border-radius: 15px;

        input {
          margin: 18px 0 20px;
          padding: 15px 16px;
          border: 1px solid #9aa5b3;
          border-radius: 6px;
        }

        button {
          margin-top: 14px;
        }
      }
    }
  }
}

.section6-container {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .blog-container {
      .blog-content {
        background-color: var(--light-blue);
        padding: 24px 30px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        font-size: 24px;
        font-weight: normal;
        line-height: 140%;

        p {
          display: flex;
          align-items: center;

          margin-top: 20px;

          font-size: 16px;
          color: var(--default-blue);

          img {
            margin-left: 10px;
          }
        }
      }
    }
  }

  button {
    margin-top: 50px;
  }
}

.footer {
  background-color: #000;
  padding: 60px 0 20px;

  color: #fff;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-contents {
      display: grid;
      grid-template-columns: 1fr 1fr 0.8fr 1.2fr;
      gap: 30px;

      width: 100%;
      margin-bottom: 60px;

      .content {
        h3 {
          margin-bottom: 20px;

          font-size: 20px;
          font-weight: bold;
        }

        li {
          color: #f5f5f5;
        }

        .socials {
          display: flex;
          align-items: center;

          margin-top: 36px;

          li+li {
            margin-left: 18px;
          }
        }

        .contact-info {
          li {
            display: flex;
            align-items: center;

            img {
              filter: invert(1);
              width: 18px;
              margin-right: 10px;
            }

            & + & {
              margin-top: 20px;
            }
          }
        }

        .explorer-info {
          li+li {
            margin-top: 16px;
          }
        }

        .news-form {
          display: flex;
          flex-direction: column;

          input {
            margin: 18px 0 14px;
            padding: 15px 16px;
            border: 1px solid #7b7c82;
            border-radius: 6px;
          }

          span {
            font-size: 13px;
          }

          button {
            margin-top: 19px;
            padding: 13.6px 26px;

            font-size: 16px;
          }
        }
      }
    }
  }
}