@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;

  color: #fff;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.blue-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 54px;
  padding: 10px;

  background: rgba(67, 97, 238, 1);
  border: none;
  border-radius: 10px;

  color: white;
  font-size: 13pt;
  font-weight: bold;
  letter-spacing: 0.5px;

  img {
    margin-left: 10px;
  }
}