@media screen and (max-width: 768px) {
  section {
    margin: 100px 0;
  }

  h1 {
    font-size: 31px;
    font-weight: bold;
  }

  h2 {
    margin-bottom: 55px;

    font-size: 32px;

    span {
      padding-bottom: 3px;
    }
  }

  header {
    padding: 30px;
  
    .inner-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .wrapper {
    width: auto;
    margin: 0 60px;
  }

  .section1-container {
    height: 334px;
  
    .wrapper {
      .main-wrapper {
        display: flex;
  
        .left-title {
          padding-top: 57px;
        }
  
        .img-wrapper {
          img {
            width: 279px;
          }
        }
  
        button {
          margin-top: 30px;
        }
      }
    }
  }

  .section2-container {
    .wrapper {
      h3 {
        width: 100%;
        font-size: 12pt;
      }
  
      .brand-wrapper {
        flex-direction: column;
  
        img {
          margin: 40px auto;
          width: 342px;
        } 

        .biz-info {
          padding: 0 60px;
  
          p {
            font-size: 12pt;
          }
        }
      }
    }
  }

  .section3-container {
    .wrapper {
      padding-left: 30px;
      padding-right: 30px;

      .link-wrapper {
        grid-template-columns: repeat(2, 314px);
        grid-template-rows: repeat(2, 320px);
        row-gap: 40px;
        column-gap: 20px;

        .link-container {
          background-size: 314px 320px;
        }

        .link-container-5,
        .link-container-6,
        .link-container-7,
        .link-container-8 {
          display: none;
        }
      }
    }
  }

  .section4-container {
    .wrapper {
      .content-wrapper {
        .slide-content {
          flex-direction: column;
          align-items: center;

          padding: 40px 30px;

          .story-img {
            width: 288px;
            margin-right: 0;
            margin-bottom: 50px;
          }

          .story-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
              text-align: center;
            }
          }
        }
      }

      .dot {
        &#dot {
          background-color: #edeff9 !important;
        }

        &#second-dot {
          background-color: #1a2630;
        }
      }
    }
  }

  .section5-container {
    .section-wrapper {
      height: 798px;

      .wrapper {
        flex-direction: column;

        ul {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: none;
          column-gap: 107px;
        }
      }
    }
  }

  .section6-container {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      .blog-container {
        .blog-img {
          width: 314px;
        }

        .blog-content {
          padding: 20px 30px;

          font-size: 20px;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }

  .footer {
    padding: 50px 0 20px;

    .wrapper {
      .footer-contents {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        .content:nth-child(2) {
          order: 3;
        }

        .content:nth-child(3) {
          order: 4;
        }

        .content:nth-child(4) {
          order: 2;
        }
      }
    }
  }
}
